.link-to-game {
  text-decoration: none;
  cursor: pointer;
  color: $color-light-yellow;
  &:hover {
    text-transform: uppercase;
    font-weight: bold;
    color: $color-brown;
  }
}
.link-to-index {
  text-decoration: none;
  color: $color-brown;
  cursor: pointer;
  &:hover {
    color: $color-light-yellow;
  }
}
.link-footer {
  text-decoration: none;
  cursor: pointer;
  color: $color-black;
  :hover {
    color: $color-brown;
  }
}
