<main>
  <h2 class="title__game">Paw Paw</h2>
  <div class="game">
    <section>
      <canvas class="js-canvas"></canvas>
      <div class="grid-btns">
        <div class="btns">
          <div class="btn-item item-up">
            <button class="btn-arrow">&#8593;</button>
          </div>
          <div class="btn-item item-left">
            <button class="btn-arrow">&#8592;</button>
          </div>
          <div class="btn-item item-down">
            <button class="btn-arrow">&#8595;</button>
          </div>
          <div class="btn-item item-right">
            <button class="btn-arrow">&#8594;</button>
          </div>
        </div>
      </div>
    </section>

    <section class="game__info">
      <h2 class="title__game-desktop title__game">Paw Paw</h2>
      <!--   <img
        src="./assets/images/PAW-PAW.png"
        alt="puppies peeking"
        class="img-game"
      /> -->
      <ul class="info">
        <li class="subtitle">Life: <span class="js-life"></span></li>
        <li class="subtitle">Time ⏰: <span class="js-timer"></span></li>
        <li class="subtitle">Record 🏁:<span class="js-record"></span></li>
      </ul>
    </section>
  </div>

  <!-- The Modal game over -->
  <div class="modal js-modal">
    <!-- Modal content -->
    <div class="modal-content js-nodal-content">
      <!--  <span class="close js-btn-close">&times;</span> -->
      <div class="modal-content__text">
        <p class="doggy">🐶🐶🐶🐶🐶</p>
        <h3>game over</h3>
        <p>try again?</p>
      </div>

      <button class="button-option js-btn-yes">
        <a class="link-to-index" href="./index.html">yes</a>
      </button>
      <button class="button-option js-btn-no">no</button>
    </div>
  </div>

  <!-- The Modal win -->
  <div class="modal js-modal-winner">
    <!-- Modal content -->
    <div class="modal-content js-nodal-content">
      <!--  <span class="close js-btn-close">&times;</span> -->
      <div class="modal-content__text">
        <p class="doggy">🦴🦴🦴🦴🦴</p>
        <h3>You are great!!</h3>
        <p>play again?</p>
      </div>

      <button class="button-option js-btn-yes">
        <a class="link-to-index" href="./index.html">yes</a>
      </button>
      <button class="button-option js-no">no</button>
    </div>
  </div>

  <!-- The Modal to bock screen-->
  <div class="modal js-modal-block"></div>
</main>
