* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: "Andika", sans-serif; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fbe8d7;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  /* border: 2px solid $color-brown; */
  border-radius: 20px;
  width: 80%; }
  .modal-content__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    font-family: "Cherry Bomb One", cursive;
    color: #c27434; }
    .modal-content__text p {
      font-size: 2.5em; }
    .modal-content__text h3,
    .modal-content__text .doggy {
      font-size: 3em;
      text-transform: uppercase;
      text-align: center; }

.button-option {
  position: relative;
  left: calc(50% - 65px);
  padding: 5px 10px;
  width: 60px;
  background-color: #f2b150;
  border-style: none;
  border-radius: 50px;
  text-transform: uppercase;
  color: #c27434;
  font-family: "Cherry Bomb One", cursive; }
  .button-option:hover,
  .button-option :focus {
    cursor: pointer;
    background-color: #c27434;
    color: #fbe8d7; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 10px; }
  .close :hover,
  .close :focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }

.link-to-game {
  text-decoration: none;
  cursor: pointer;
  color: #fbe8d7; }
  .link-to-game:hover {
    text-transform: uppercase;
    font-weight: bold;
    color: #c27434; }

.link-to-index {
  text-decoration: none;
  color: #c27434;
  cursor: pointer; }
  .link-to-index:hover {
    color: #fbe8d7; }

.link-footer {
  text-decoration: none;
  cursor: pointer;
  color: #c27434; }
  .link-footer :hover {
    color: #f2b150; }

.active {
  display: block; }

.page {
  height: 100vh; }

.main-index {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }
  .main-index .title {
    padding: 20px;
    text-align: center;
    font-family: "Cherry Bomb One", cursive;
    font-size: 5rem;
    color: #c27434;
    background-color: #fbe8d7;
    border-radius: 76% 24% 70% 30% / 57% 76% 24% 43%; }
  .main-index .img-index {
    display: block;
    width: 100%;
    max-width: 350px;
    -o-object-fit: cover;
    object-fit: cover; }
  .main-index .button-start {
    width: 210px;
    margin-top: 120px;
    padding: 15px 10px;
    border-radius: 50px;
    border: 4px solid #c27434;
    background-color: #c27434;
    font-size: 2.8rem; }
    .main-index .button-start p::first-letter {
      text-transform: capitalize; }
    .main-index .button-start:hover {
      background-color: #f2b150;
      color: #c27434; }

.title__game {
  font-family: "Cherry Bomb One", cursive;
  text-align: center;
  padding-top: 20px;
  display: block;
  font-size: 5rem;
  color: #c27434; }
  @media all and (min-width: 768px) {
    .title__game {
      padding-top: 10px;
      font-size: 4rem; } }
  @media all and (min-width: 1024px) {
    .title__game {
      display: none;
      padding-top: 20px; } }
  .title__game-desktop {
    display: none;
    font-size: 5rem; }
    @media all and (min-width: 1024px) {
      .title__game-desktop {
        display: block;
        padding: 15px;
        background-color: #fbe8d7;
        border-radius: 76% 24% 70% 30% / 57% 76% 24% 43%; } }

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  width: 100%;
  height: auto; }
  @media all and (min-width: 768px) {
    .game {
      padding: 1em; } }
  @media all and (min-width: 1024px) {
    .game {
      flex-direction: row;
      gap: 15px;
      padding: 6rem 3rem; } }
  @media all and (min-width: 1440px) {
    .game {
      gap: 100px; } }
  .game canvas {
    border: 4px solid #c27434;
    background-color: #fbe8d7;
    border-radius: 8px;
    padding: 3px; }
  .game .grid-btns {
    display: grid;
    justify-content: center; }
    @media all and (min-width: 768px) {
      .game .grid-btns {
        position: absolute;
        left: 13%;
        bottom: 12%; } }
    @media all and (min-width: 1024px) {
      .game .grid-btns {
        position: initial; } }
  .game .btns {
    display: grid;
    gap: 5px;
    justify-self: center;
    padding: 10px;
    width: 220px; }
  .game .btn-item {
    align-self: flex-start; }
  .game .item-left {
    grid-column: 1;
    grid-row: 1 / span 2; }
  .game .item-right {
    grid-column: 3;
    grid-row: 1 / span 2; }
  .game .btn-arrow {
    display: block;
    background-color: #fbe8d7;
    border: 1px #fabd5a;
    color: #000;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Cherry Bomb One", cursive;
    border-radius: 6px;
    text-align: center;
    align-self: end;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    width: 70px; }
  .game .btn-arrow:hover {
    background-color: #c27434;
    color: #fbe8d7; }
  .game .btn-arrow:focus {
    border-color: #c27434; }
  .game .btn-arrow:active {
    background-color: rgba(250, 250, 255, 0.85);
    box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.3); }

.game__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 20px; }
  .game__info .info {
    width: 280px;
    background-color: #fbe8d7;
    border-radius: 71% 29% 85% 15% / 34% 62% 38% 66%;
    padding: 40px;
    list-style: none; }
    .game__info .info li {
      font-size: 2rem; }
  @media all and (min-width: 768px) {
    .game__info {
      flex-direction: column; }
      .game__info .info {
        position: absolute;
        right: 14%;
        bottom: 8%;
        padding: 20px; }
        .game__info .info li {
          font-size: 2rem; } }
  @media all and (min-width: 1024px) {
    .game__info {
      flex-direction: column;
      margin-top: 0; }
      .game__info .info {
        position: initial;
        padding: 40px;
        width: 280px; }
        .game__info .info li {
          font-size: 2.5rem; } }
  @media all and (min-width: 1440px) {
    .game__info .info {
      width: 400px; } }

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fbe8d7;
  color: #c27434; }
  .footer__text {
    font-size: 1.8rem; }
    .footer__text .logo {
      font-family: "Cherry Bomb One", cursive;
      font-size: 2.4rem; }

.page__game {
  background-color: #fabd5a;
  /*  opacity: 0.8; */
  background-image: linear-gradient(#f2b150 2.6px, transparent 2.6px), linear-gradient(to right, #f2b150 2.6px, #fabd5a 2.6px);
  background-size: 52px 52px;
  position: relative;
  height: 100vh; }

.page__index {
  background-color: #fabd5a;
  /*  opacity: 0.8; */
  background-image: linear-gradient(#f2b150 2.6px, transparent 2.6px), linear-gradient(to right, #f2b150 2.6px, #fabd5a 2.6px);
  background-size: 52px 52px;
  padding: 10rem 3rem;
  width: 100%;
  height: 100vh; }

/*# sourceMappingURL=main.css.map */
