.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  .title {
    font-family: $font-special;
    font-size: 5rem;
  }
  &__img {
    display: block;
    width: 100%;
    max-width: 350px;
    object-fit: cover;
  }
}
