.main-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    font-family: $font-special;
    font-size: 5rem;
  }
  .img-index {
    display: block;
    width: 100%;
    max-width: 350px;
    object-fit: cover;
  }
  .button-start {
    width: 200px;
    padding: 20px 10px;
    border-radius: 50px;
    border: 4px solid $color-brown;
    background-color: $color-orange;
    color: $color-light-yellow;
    font-size: 3rem;

    p::first-letter {
      text-transform: capitalize;
    }
  }
}
